@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-fast {
	-webkit-animation: fadeIn 0.4s;
	-moz-animation: fadeIn 0.4s;
	-o-animation: fadeIn 0.4s;
	-ms-animation: fadeIn 0.4s;
	animation: fadeIn 0.4s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		filter: blur(5px);
	}
	100% {
		opacity: 1;
		filter: blur(0px);
	}
}
